/**
 * Posts adn Pages
 */

.ae-center-text {
  text-align: center;
}

.ae-page {
  margin-bottom: 3.33333em;
  position: relative;
}

.ae-page-header {
  margin-bottom: 1em; //1.66667em;
}

.ae-page-title {
  color: _palette(deep-blue);
  font-size: 1.5em;
  margin: 0 0 1em; //1.66667rem;
  //border-bottom: 3px solid _palette(pastel-red);

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(grass);
    }
  }
}

.ae-page-subtitle {
  color: _palette(grass);
  font-weight: bold;
  font-size: 1.0em;
  line-height: 1.5;
}

.ae-page-image {
  //margin-bottom: 1.66667em;

  img {
    width: 100%;
  }
}

.ae-page-content {
  font-size: 14px;

  .ae-page-element {
    margin-bottom: 14px;
  }

  .ae-page-subheader {
    margin-top: 30px;
    color: _palette(grass);
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    //line-height: 1.5;
  }

  .ae-page-callout {
    font-weight: bold;
    font-size: 18px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 2px solid _palette(pastel-red);
    border-bottom: 2px solid _palette(pastel-red);
  }

  .ae-page-text {

    // nothing to go here right now
    a {
      color: _palette(grass);
      font-weight: bold;
      border-bottom: none;
    }
  }

  .ae-page-list {

    li {
      font-weight: bold;
    }
  }

  .ae-page-image {

    img {
      width: 100%;
    }
  }
}

/* Feed */
.ae-page-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  //margin: 0 -0.83333em 1.66667em;
}

.ae-page-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0px; //1em; //1.66667em;
  margin-right: 1%;

  .ae-card-component {
    margin-bottom: 0.5em;
  }

  a {
    font-weight: bold;
    border: none;
    color: inherit;
  }

  img {
    width: 100%;
  }

  .ae-page-card-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /*
    margin-left: 0.83333em;
    margin-right: 0.83333em;
    */
    overflow: hidden;
  }

  .ae-card-thumbnail {
    //border: 2px solid _palette(pastel-red);
    display: block;
    position: relative;

    /*
    &:before {
      content: "";
      display: block;
      padding-top: 66.666%;
    }
    */
  }

  .ae-title {
    color: _palette(grass);
    font-size: 0.9em; //1.33333em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
  }

  .ae-title-header {
    color: _palette(deep-blue);
    font-size: 1.33333em;
    line-height: 1.4em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
  }

  .ae-blurb {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    font-size: 12px;
  }

  .ae-page-button {
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .ae-title {
    //font-size: 2.22222em;
    font-size: 1.5em;
  }

  .ae-subtitle {
    font-size: 1.0em;
  }

  .ae-card {
    margin-bottom: 3vw;

    .ae-inside {
      margin-left: 1.5vw;
      margin-right: 1.5vw;
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px),
only screen and (max-width: 600px) {}

@media only screen and (max-width: 768px) {
  .ae-page-card {
    flex: 0 0 100% !important;
    flex-basis: 100% !important;
  }
}