.book-feature {
    // all text should be black by default
    color: _palette(black);

    // vertical flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.action {
    position: relative;
    display: inline-block;
    width: 100%;
}

button.action-button,
button:active.action-button,
button:hover.action-button,
button:focus.action-button {
    color: _palette(black);
    background-color: _palette(lemon);
    border: 2px solid _palette(black);
    border-radius: 27px;
    width: 100%;
    min-width: 160px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 12px;
    text-align: left;
}

.action-button-content {
    pointer-events: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.action-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.action-dropdown-content .dropdown-category {
    font-size: 12px;
    color: grey;
    border: none;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}

.action-dropdown-content .dropdown-item {
    font-size: 12px;
    color: black;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.book-highlight {

    // horizontal flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .details {
        width: 50%;
        margin-left: 75px;
        margin-right: 75px;
        font-weight: bold;

        .title {
            text-align: center;
            font-size: 28px;
        }

        .action {
            padding-top: 40px;
            text-align: center;
        }

        .action-dropdown-content {
            margin-left: 20%;
        }
    }

    .highlight-image {
        width: 50%;
    }
}

.quotes {
    // vertical flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .quote {
        // vertical flexbox
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        margin-left: 10px;
        margin-right: 10px;

        font-size: 12px;
        text-align: center;

        .text {
            font-weight: bold;
        }

        .source {
            font-weight: normal;
            font-style: italic;
        }
    }
}

.action-card-link-wrapper {
    color: _palette(black);
    border: none;
}

.action-cards {
    // horizontal flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    margin-top: 30px;
    margin-bottom: 30px;

    .action-card {

        font-size: 12px;
        text-align: center;

        border: 2px solid _palette(lemon);
        padding: 20px;

        margin-left: 10px;
        margin-right: 10px;

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
            line-height: 1em;
        }

        .blurb {
            text-align: left;
            margin-bottom: 30px;
        }

        .action-button {
            text-align: left;

            button {
                // horizontal flexbox
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                align-content: stretch;
                -webkit-align-items: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;

                padding-left: 2em;
                padding-right: 2em;
                border: 2px solid _palette(black);
                border-radius: 27px;
                background-color: _palette(white);
                opacity: 1;
                height: 3em;
                width: 100%;

                color: black;
                font-size: 10px;
                font-weight: bold;
                text-align: left;

                .arrow {
                    text-align: right;
                }
            }
        }
    }
}

.followup-footer {
    // horizontal flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .followup-image {
        width: 50%;
    }

    .followup-details {
        width: 50%;
        margin-left: 75px;
        margin-right: 75px;
        font-weight: bold;

        .title {
            font-size: 28px;
        }

        .blurb {
            font-size: 16px;
        }

        .action {
            padding-top: 40px;
        }

        .action-dropdown-content {}
    }
}


@media only screen and (max-width: 800px) {

    button.action-button,
    button:active.action-button,
    button:hover.action-button,
    button:focus.action-button {
        width: 100%;
        min-width: 160px;
        padding-left: 15px;
        padding-right: 15px;

        font-size: 12px;
        text-align: left;
    }

    .action-dropdown-content {
        width: 100%;
    }

    .book-highlight {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .highlight-image {
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            margin-bottom: 30px;
            width: 70%;
        }

        .details {
            width: 70%;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;

            .title {
                line-height: 1em;
                padding-bottom: 20px;
            }

            .action-dropdown-content {
                margin-left: 0%;
            }

        }
    }

    .action-cards {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .action-card {
        width: 50%;
        margin-bottom: 10px;
    }

    .followup-footer {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .action {
            text-align: center;
        }

        .action-dropdown-content {
            overflow-y: scroll;
            height: 100px;
        }

        .followup-image {
            width: 70%;
            margin-bottom: 20px;
        }

        .followup-details {
            width: 70%;

            .title {
                line-height: 1em;
                padding-bottom: 20px;
            }

            .blurb {
                line-height: 1em;
            }
        }
    }

    .action-cards .action-card {
        width: 70%;
    }
}