.pd-feature {

    // all text should be black by default
    color: _palette(black);

    // vertical flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.pd-lead {
    margin-bottom: 40px;
}

.pd-lead .opener {
    // vertical flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/*
.pd-lead .opener img {
    width: 30%
}
*/

.pd-lead .opener .title {
    color: _palette(grass);
    font-weight: bold;
    font-size: 40px;
}

.pd-lead .opener .subtitle p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 1.3;
}

.pd-lead-covers {
    margin-bottom: 30px;
    margin-top: 30px;

    // horizontal flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.pd-lead-covers img {
    width: 40%;
    box-shadow: 10px 10px 10px #00000029;
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;

}

.pd-lead .blurbs p {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 5px;
}

.pd-feature .book {
    // horizontal flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    margin-top: 40px;
}

.pd-feature .book .cover-container {
    flex: 0.30 1 0;
    width: 100%;
}

.pd-feature .book .cover {
    box-shadow: 10px 10px 10px #00000029;
    opacity: 1;
    margin-bottom: 20px;
    width: 100%;
}

.pd-feature .book .book-details {
    flex: 0.70 1 0;
    // vertical flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    margin-left: 40px;
}

.pd-feature .book .title p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2em;
}

.pd-feature .book .title p:last-child {
    font-size: 38px;
}

.pd-feature .book .blurbs {
    margin-bottom: 20px;

    font-size: 14px;
}

.blurbs .main {
    font-weight: bold;
    margin-bottom: 20px;

}

.blurbs .details {}

.book .action-container {
    margin-bottom: 40px;
}

.pd-feature .closer {
    font-size: 40px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {

    .pd-lead .blurbs p {
        font-size: 14px;
        line-height: 1.6em;
    }

    .pd-feature .book {
        // vertical flexbox
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .pd-feature .book .cover-container {
        text-align: center;
    }

    .pd-feature .book .cover {
        width: 75%;
    }

}