// Press page styling - replicated from pd-feature but with press-specific classes

.press-feature {
    // all text should be black by default
    color: _palette(black);

    // vertical flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.press-feature .press-item {
    // horizontal flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    margin-top: 40px;
}

.press-feature .press-item .press-details {
    flex: 1 1 0;
    // vertical flexbox
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.press-feature .press-item .press-title p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2em;
}

.press-feature .press-item .press-title p:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2em;
}

.press-feature .press-item .press-title p:last-child {
    font-size: 24px;
    margin-bottom: 15px;
}

.press-feature .press-item .press-blurbs {
    margin-bottom: 20px;
    font-size: 14px;
}

.press-feature .press-item .press-blurbs .main {
    font-weight: normal;
    line-height: 1.4;
}

@media only screen and (max-width: 800px) {
    .press-feature .press-item {
        // vertical flexbox on mobile
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .press-feature .press-item .press-title p:last-child {
        font-size: 20px;
    }
}