---
layout: body
use_footer: true
---

<article>
    <header class="post-header inner-sm">
        <h1 class="post-title underline">Contact</h1>
    </header>

    <div class="inner-sm">
        <table style="width: 100%; border: none">
            <tr>
                <td style="width: 15%; border-top: none">
                    <img src="/images/success-star.svg" style="width: 100%; margin: 0px 15px 0px 0px;"/>
                </td>
                <td style="border-top: none; width: 85%"> 
                    <div class="post-subtitle">Your message was sent.</div>
                    <div style="font-size: 14px">Thanks for getting in touch. Someone should reply soon.</div>
                </td>
            </tr>
        </table>

        <!--
        <img src="/images/success-star.svg" style="width: 4em; float: left; margin: 0px 15px 0px 0px;"/>
                </td>
    
        <div class="post-subtitle">Your message was sent.</div>
        <div style="font-size: 14px">Thanks for getting in touch. Someone should reply soon.</div>
        -->

    </div>
</article>


